<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Dynamic Ports</title>
<meta name="description" content="Nodes with varying lists of ports on each of four sides." />
<!-- Copyright 1998-2018 by Northwoods Software Corporation. -->
<meta charset="UTF-8">
<script src="{{ url_for('static', filename='go-debug.js') }}"></script>
<script src="{{ url_for('static', filename='drawnodes.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
  // Save the model to / load it from JSON text shown on the page itself, not in a database.
  function save() {
    $.ajax({
      type: "POST",
      url: "/receiveJSON",
      data: myDiagram.model.toJson(),
      contentType: "application/json; charset=UTF-8",
      dataType: "json" 
    });

    myDiagram.isModified = false;
  }

  function load() {
    $.ajax({
      type: "GET",
      url: "/getJSON",
      dataType: "json",
      success: function(data) {
        myDiagram.model = go.Model.fromJson(data);
      }
    });
  }
</script>
</head>
<body onload="init(); load()">
<div id="sample">
  <div id="myDiagramDiv" style="width:80vw; height:50vh; border:1px solid black; margin: auto;"></div>
  <p>
    Double-click in the diagram background in order to add a new node there.
    In this sample you can add ports to a selected node by clicking the above buttons or by using the context menu.
    Draw links between ports by dragging between ports.
    If you select a link you can relink or reshape it.
    Right-click or touch-hold on a port to bring up a context menu that allows you to remove it or change its color.
  </p>
  <p>
    The diagram also uses a custom link to allow for special routing to help parallel links avoid each other
    using overridden <a>Link.computeEndSegmentLength</a>, <a>Link.hasCurviness</a>, and <a>Link.computeCurviness</a>
    functions.
  </p>
  <p>
    See the <a href="../intro/ports.html">Ports Intro page</a> for an explanation of GoJS ports.
  </p>
  <div>
    <button id="SaveButton" onclick="save()">Save</button>
    <button onclick="load()">Load</button>
  </div>
</div>
</body>
</html>
